## Problem Statement

You have been hired by the University of Data Science to manage their students' records.  Your job is to create the student management system for the university. Let's try to build the system using basic Python operations.


## Why solve this project?

After completing this project, you will get to know how to solve basic Python problems. In this project, you will be applying the following concepts:

* Mathematical operations
* List operations
* Dictionary operations 
* String indexing and formatting

### Task 1

**Let's create a new register by combining data from two classes while making some modifications to the register.
Instructions:**

   * Create a 'class_1' list and pass the elements 'Geoffrey Hinton','Andrew Ng','Sebastian Raschka','Yoshua Bengio'.

   * Create a 'class_2' list and pass the elements 'Hilary Mason','Carla Gentry','Corinna Cortes'.

   * Concatenate the 'class_1' and 'class_2' list. Store the values in a'new_class' variable.

   * Print the 'new_class' variable to see the new list.

You can now see the students list.

In [1]:
class_1 = ['Geoffrey Hinton','Andrew Ng','Sebastian Raschka','Yoshua Bengio']
class_2 = ['Hillary Mason','Carla Gentry','Corinna Cortes']
new_class = class_1 + class_2
print(new_class)

['Geoffrey Hinton', 'Andrew Ng', 'Sebastian Raschka', 'Yoshua Bengio', 'Hillary Mason', 'Carla Gentry', 'Corinna Cortes']

In [6]:
new_class[1:]

['Andrew Ng',
 'Sebastian Raschka',
 'Yoshua Bengio',
 'Hillary Mason',
 'Carla Gentry',
 'Corinna Cortes']

In [7]:
new_class[:3]

['Geoffrey Hinton', 'Andrew Ng', 'Sebastian Raschka']

In [8]:
len(new_class)

7

In [3]:
new_class_2 = [class_1 + class_2]
new_class_2

[['Geoffrey Hinton',
  'Andrew Ng',
  'Sebastian Raschka',
  'Yoshua Bengio',
  'Hillary Mason',
  'Carla Gentry',
  'Corinna Cortes']]

In [4]:
new_class_2[0][2]

'Sebastian Raschka'

In [5]:
new_class_2[0][0:3]

['Geoffrey Hinton', 'Andrew Ng', 'Sebastian Raschka']

### Task 2

Oops! Looks like we might have missed a student whose name is Peter Warden. Let's add him in the new register.

   * Add new element 'Peter Warden' in the 'new_class' list.

   * Print 'new_class' to see the updated list.

In [9]:
new_class.append('Peter Warden')
print(new_class)

['Geoffrey Hinton', 'Andrew Ng', 'Sebastian Raschka', 'Yoshua Bengio', 'Hillary Mason', 'Carla Gentry', 'Corinna Cortes', 'Peter Warden']

### Task 3

It seems like there could also be a wrong entry in the list whose name is Carla Gentry. Let's remove her from the register.

   * Remove the 'Carla Gentry'element from the 'new_class' list.

   * Print 'new_class' to see the updated list.

In [10]:
new_class.remove('Carla Gentry')
new_class

['Geoffrey Hinton',
 'Andrew Ng',
 'Sebastian Raschka',
 'Yoshua Bengio',
 'Hillary Mason',
 'Corinna Cortes',
 'Peter Warden']

### Task 4

**Let's create a dictionary for `Geoffrey Hinton` in each subject to generate his progress report.** 



#### Instructions

* Create a dictionary named `'courses'` using the keys and values given below


|course|marks|
|-----|-----|
|Math|65|
|English|70|
|History|80|
|French|70|
|Science|60|





* See the marks obtained in each subject.
 
* Add all the marks scored out of 100 and store it in a variable named `'total'`.


* Print `'total'`.


* Calculate the `'percentage'` scored by `'Geoffrey Hinton'` where addition of all the subjects is `500`.


* Print the `'percentage'`.

In [2]:
courses = {'Math': 65, 'English':70, 'History':80, 'French':70, 'Science':60}

In [3]:
courses

{'Math': 65, 'English': 70, 'History': 80, 'French': 70, 'Science': 60}

In [9]:
total = sum(courses.values())
total

345

In [10]:
students = {'Geoffrey' : {'Math': 65, 'English':70, 'History':80, 'French':70, 'Science':60}}
students

{'Geoffrey': {'Math': 65,
  'English': 70,
  'History': 80,
  'French': 70,
  'Science': 60}}

In [12]:
students['Geoffrey']['Math']

65

In [7]:
percentage = (total / 500) * 100
percentage

69.0

### Task 5

**For the student who got the highest marks in this subject, the school has decided to award a scholarship.
Let's check who performed best in mathematics from all the students who appeared for the test.**

#### Instructions

* Create a dictionary named `'mathematics'` using the keys and values given below.


|student|marks|
|-----|-----|
|Geoffrey Hinton|78|
|Andrew Ng|95|
|Sebastian Raschka|65|
|Yoshua Benjio|50|
|Hilary Mason|70|
|Corinna Cortes|66|
|Peter Warden|75|


***

    Example of max function:

~~~python

# calculate the max value

max_marks_scored = max(courses,key = courses.get)
print (max_marks_scored)

~~~

**Output**

~~~python
History
~~~
    

***



* Find out the student with the highest marks in Mathematics and store it in a variable `'topper'`.

In [13]:
mathematics = {'Geoffrey Hinton' : 78, 'Andrew Ng' : 95, 'Sebastian Raschka' : 65, 'Yoshua Benjio' : 50, 'Hilary Mason' : 70, 
               'Corinna Cortes' : 66, 'Peter Warden' : 75}
mathematics

{'Geoffrey Hinton': 78,
 'Andrew Ng': 95,
 'Sebastian Raschka': 65,
 'Yoshua Benjio': 50,
 'Hilary Mason': 70,
 'Corinna Cortes': 66,
 'Peter Warden': 75}

In [15]:
topper = max(mathematics,key = mathematics.get)
topper

'Andrew Ng'

### Task 6

**From the previous task, we know who is the 'Maths' topper in the class. You now have to print the name of the student on the certificate, but you will have to print his last name and then his first name.** 


## Instructions

* String name `'topper'` with the Math topper's name is given.


* Split the `'topper'` using the `"split()"` function and store the results in `'first_name'` and `'last_name'`.

***

    Example of split function:

~~~python

Quote = " I love data "

# To split the words of a sentence
print('-'*20)

# To access one word based on index
print(Quote.split()[2])

~~~

**Output**

~~~python
['I', 'love', 'data']
--------------------
data

~~~

    


***


*  Display the full name concatenating `+` the strings `'last_name'` and `'first_name'` strings. Don't forget to add a whitespace character between them to avoid displaying them together and store it in a `full_name` variable .


* Convert all the elements in the `'full_name'`string to uppercase, and store it to the `'certificate_name'` variable.


* Print `'certificate_name'`.

In [22]:
last_name = topper.split()[1] 
first_name = topper.split()[0]
full_name = last_name + ' ' + first_name
full_name

'Ng Andrew'

In [23]:
certificate_name = full_name.upper()
certificate_name

'NG ANDREW'

In [63]:
## Additional Tasks

In [57]:
#Shopping Cart full of numbers (Python List of Numbers)
cart = [5,7,9,10,12,15,19,20,22]

In [58]:
cashier = []

In [59]:
for i in range(0,len(cart)):
    cashier.append(cart[i])

In [60]:
print(cashier)

[5, 7, 9, 10, 12, 15, 19, 20, 22]

In [41]:
cashier = []

In [39]:
for i in cart:
    cashier.append(i)

In [40]:
print(cashier)

[3, 7, 9, 11, 13, 15, 17, 18, 21]

In [56]:
#list comprehension
cashier = [items for items in cart]

In [53]:
cashier_2 = []

In [54]:
for items in cart:
    if(items%2==0):
        cashier_2.append(items)

In [55]:
cashier_2

[10, 12, 20, 22]

In [61]:
cashier_2 = [i for i in cart if i%2 ==0]

In [62]:
cashier_2

[10, 12, 20, 22]

In [ ]:
## Functions

In [79]:
numbers = [4,8,7,9,11]

In [65]:
max(numbers)

11

In [70]:
def square(a):
    sq = a ** 2
    print('The square of ' + str(a) + ' is ' + str(sq))
square(4)

The square of 4 is 16

In [73]:
for i in numbers:
    square(i)

The square of 4 is 16
The square of 8 is 64
The square of 7 is 49
The square of 9 is 81
The square of 11 is 121

In [76]:
[i ** 2 for i in numbers]

[16, 64, 49, 81, 121]

In [77]:
def square1(number_list):
    return [i ** 2 for i in number_list]

In [81]:
square1(numbers)

[16, 64, 49, 81, 121]